<div class="p-[15px] space-y-[20px]">
  <div>
    <h5 class="text-sm font-bold leading-[100%] text-gray-900">Выбери эмодзи</h5>
    <ul class="grid grid-cols-6 gap-[10px] mt-[5px]">
      @for (item of emojiMock; track item.id) {
        <li
          class="rounded-xl bg-[#F8F9FA] aspect-square content-center cursor-pointer group hover:bg-[linear-gradient(135deg,#FA709A_0%,#FEE140_100%)]"
          [class.bg-[linear-gradient(135deg,#FA709A_0%,#FEE140_100%)]]="
            selectEmoji() === item.emoji
          "
          (click)="setEmoji(item.emoji)"
        >
          <img
            [src]="'imgs/' + item.emoji_img"
            [alt]="item.emoji_img"
            fetchpriority="high"
            loading="eager"
            class="block w-2/4 mx-auto group-hover:scale-110 transition-transform duration-300"
          />
        </li>
      }
    </ul>
  </div>
  <form [formGroup]="planForm" (ngSubmit)="updatePlan()" class="space-y-[20px]">
    <div>
      <label class="text-sm font-bold leading-[100%] text-gray-900" for="titleInput"
        >Выбери эмодзи</label
      >
      <input
        type="text"
        id="titleInput"
        formControlName="name"
        [class.border-red-500]="
          planForm.controls['name'].invalid && planForm.controls['name'].touched
        "
        class="w-full h-[52px] rounded-xl border-2 border-[#E9ECEF] px-[15px] outline-[#FA709A] mt-[5px]"
        placeholder="Пицца с Аней"
        required
      />
    </div>
    <div>
      <label class="text-sm font-bold leading-[100%] text-gray-900" for="kagda">Когда?</label>
      <input
        type="datetime-local"
        id="kagda"
        formControlName="datetime"
        required
        [class.border-red-500]="
          planForm.controls['datetime'].invalid && planForm.controls['datetime'].touched
        "
        [min]="formatLocalDate()"
        class="w-full h-[52px] rounded-xl border-2 border-[#E9ECEF] px-[15px] outline-[#FA709A] mt-[5px]"
      />
    </div>
    <div>
      <label class="text-sm font-bold leading-[100%] text-gray-900" for="gde">Где?</label>
      <input
        type="text"
        id="gde"
        formControlName="location"
        [class.border-red-500]="
          planForm.controls['location'].invalid && planForm.controls['location'].touched
        "
        class="w-full h-[52px] rounded-xl border-2 border-[#E9ECEF] px-[15px] outline-[#FA709A] mt-[5px]"
        placeholder="Додо Пицца, Тверская 10"
        required
      />
    </div>
    @let planUsers = getPlanUsers.value();
    @if (planUsers && planUsers.count_user > 0) {
      <div>
        <b class="text-sm font-bold leading-[100%] text-gray-900" for="gde"
          >Участники ({{ planUsers.count_user }})</b
        >
        <ul class="flex flex-wrap gap-[10px] mt-[5px]">
          @for (item of planUsers.plan_users; track item.user.id) {
            @if (item.user.id !== planUsers.creator_id) {
              <li
                (click)="removeFriend(item.user.id)"
                class="bg-gray-200 rounded-full text-sm cursor-pointer select-none font-normal leading-[100%] text-gray-900 inline-flex items-center gap-x-[8px] w-auto px-[10px] h-[36px]"
              >
                <div
                  class="w-[20px] h-[20px] bg-red-400 rounded-full text-white content-center text-center"
                >
                  <span class="block mt-[2px]">✖</span>
                </div>
                {{ item.user.first_name }}
              </li>
            }
          }
        </ul>
      </div>
    }
    <div class="flex gap-x-[10px]">
      <button
        type="submit"
        class="flex-1 bg-[linear-gradient(135deg,#FA709A_0%,#FEE140_100%)] text-white w-full h-[48px] rounded-full font-bold text-base leading-[100%] cursor-pointer"
      >
        Обновить
      </button>
      <button
        (click)="deletePlan()"
        type="button"
        class="flex-1 bg-red-400 text-white w-full h-[48px] rounded-full font-bold text-base leading-[100%] cursor-pointer"
      >
        Удалить
      </button>
    </div>
  </form>
</div>
