@let plansValue = plans.value();
<div class="p-[15px]">
	<div class="flex items-center justify-between">
		<h1 class="text-2xl font-bold text-gray-900 capitalize">
			{{ currentMonth }} {{ currentYear }}
		</h1>
		<button (click)="selectDay.set(currentDay)"
			class="cursor-pointer bg-[linear-gradient(110deg,#FA709A_0%,#FEE140_100%)] rounded-full h-[36px] w-fit px-[20px] text-[13px] font-bold leading-[100%] text-white">
			Сегодня
		</button>
	</div>
	<div class="my-[30px]">
		<ul class="grid grid-cols-7 gap-x-[10px]">
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Пн</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Вт</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Ср</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Чт</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Пт</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Сб</li>
			<li class="text-center text-xs font-bold text-gray-400 leading-[100%]">Вс</li>
		</ul>
		<ul class="grid grid-cols-7 gap-[10px] mt-[20px]">
			@if(!plans.isLoading() && plansValue) {
			@for (day of plansValue.monthPlans; let i = $index; track i) {
			<li (click)="selectDay.set(i + 1); selectDayPlans = day.plans"
				class="bg-gray-100 cursor-pointer aspect-square select-none rounded-xl content-center text-center text-base font-semibold leading-[100%]"
				[class.bg-[linear-gradient(110deg,#FA709A_0%,#FEE140_100%)]]="selectDay() === i + 1"
				[class.text-white]="selectDay() === i + 1">
				{{day.day}}
				@if(day.plans.length) {
				<span class="translate-y-[4px] w-[6px] h-[6px] bg-[#F5576C] block mx-auto rounded-full"></span>
				}
			</li>
			}
			}@else {
			@for(day of days; track day) {
			<li
				class="bg-gray-100 animate-pulse cursor-pointer aspect-square select-none rounded-xl content-center text-center text-base font-semibold leading-[100%]">
			</li>
			}
			}
		</ul>
	</div>
	@if(selectDayPlans.length) {
	<div class="space-y-[12px]">
		@for(item of selectDayPlans; track item.id) {
		<a [routerLink]="item.id.toString()"
			class="flex mt-[5px] items-start gap-x-[10px] p-[15px] rounded-2xl bg-[linear-gradient(106deg,rgba(250,112,154,0.13)_0%,rgba(254,225,64,0.13)_100%)]">
			<p class="text-2xl leading-[100%]">{{item.emoji}}</p>
			<div>
				<b class="text-base font-bold text-gray-900 leading-[120%]">{{item.name}}</b>
				<div class="mt-[10px]">
					<p class="text-sm text-gray-400 leading-[100%] text-gray-500">{{item.datetime | day}} • {{item.location}}
					</p>
					@if(item.plan_users.length) {
					<ul class="-space-x-2 mt-[5px]">
						@for(user of item.plan_users.slice(0, 3); track user.id) {
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							{{user.first_name.slice(0,1)}}</li>
						}
						<li
							class="inline-block h-[25px] w-[25px] rounded-full content-center text-center ml-3 text-gray-500 text-sm font-bold">
							+{{item.plan_users.slice(3).length}}</li>
					</ul>
					}
				</div>
			</div>
		</a>
		}
	</div>
	}
	@if (plansValue && (plansValue.nearPlans.tomorrow.length || plansValue.nearPlans.dayAfterTomorrow.length)) {
	@let tomorrow = plansValue.nearPlans.tomorrow;
	@let dayAfterTomorrow = plansValue.nearPlans.dayAfterTomorrow;
	<b class="text-gray-900 text-lg font-bold leading-[100%]">Ближайшие планы</b>
	<div class="space-y-[12px]">
		@for (item of tomorrow; track item.id) {
		<a href="#!"
			class="flex mt-[5px] items-start gap-x-[10px] p-[15px] rounded-2xl bg-[linear-gradient(106deg,rgba(250,112,154,0.13)_0%,rgba(254,225,64,0.13)_100%)]">
			<p class="text-2xl leading-[100%]">🍕</p>
			<div>
				<b class="text-base font-bold text-gray-900 leading-[120%]">Пицца с Аней</b>
				<div class="mt-[10px]">
					<p class="text-sm text-gray-400 leading-[100%] text-gray-500">Завтра в 19:00 • Додо Пицца</p>
					<ul class="-space-x-2 mt-[5px]">
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							Я</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							А</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							М</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full content-center text-center ml-3 text-gray-500 text-sm font-bold">
							+2</li>
					</ul>
				</div>
			</div>
		</a>
		}
		@for (item of dayAfterTomorrow; track item.id) {
		<a href="#!"
			class="flex mt-[5px] items-start gap-x-[10px] p-[15px] rounded-2xl bg-[linear-gradient(106deg,rgba(250,112,154,0.13)_0%,rgba(254,225,64,0.13)_100%)]">
			<p class="text-2xl leading-[100%]">🍕</p>
			<div>
				<b class="text-base font-bold text-gray-900 leading-[120%]">Пицца с Аней</b>
				<div class="mt-[10px]">
					<p class="text-sm text-gray-400 leading-[100%] text-gray-500">Завтра в 19:00 • Додо Пицца</p>
					<ul class="-space-x-2 mt-[5px]">
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							Я</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							А</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full ring-2 content-center text-center text-white text-xs font-bold bg-[linear-gradient(135deg,#FF6B6B_0%,#FFA502_100%)] ring-white">
							М</li>
						<li
							class="inline-block h-[25px] w-[25px] rounded-full content-center text-center ml-3 text-gray-500 text-sm font-bold">
							+2</li>
					</ul>
				</div>
			</div>
		</a>
		}
	</div>
	}
	<div>
	</div>
</div>