/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'Apple Color Emoji';
  src: local('Apple Color Emoji'), local('AppleColorEmoji'), local('apple-color-emoji');
  src:
    /*url('fonts/AppleColorEmoji.woff2') format('woff2'),*/
    url('../public/fonts/AppleColorEmoji.woff') format('woff'),
    url('../public/fonts/AppleColorEmoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  font-family: 'Apple Color Emoji';
}
