@import 'tailwindcss';

html {
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
